
a{
    text-decoration: none;
    color:#76323f;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px 20px 15px 15px;
}
a:hover{
    color: #d7cec7;
}

body{
   background-color:#d7cec7 ;
}


h2 {
    color: #76323f; 
    font-family: 'Albert Sans', sans-serif;
   
}
h3{
    color: #76323f;
    font-family: 'Albert Sans', sans-serif;
    
}
hr{
    width: 15%;
    border: 10px dotted #c09f80;
    border-style: none;
    border-top-style:dotted;
   border-width: 15px;
   margin: 100px auto;
}
p{
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.5;
    
    margin: auto;
}
.bottom-container{
background-color: #c09f80;
padding: 50px 0 20px;
}
.contact-img{
    position: relative;
    margin: 20px;
    width:20%;
    height:20%;
}
.contact-message{
    width: 40%;
    margin:20px auto;
}
.header-container{
    background-color:  #c09f80;
    font-family: 'Edu NSW ACT Foundation', cursive;
   }

.intro{
    font-family: 'Edu NSW ACT Foundation', cursive;
   
}
.intro-desc{
    width:40%;
    margin: auto;
}
.intro-img{
     width:150px;
     height:140px;
     position: relative;
     top: 10%;
     transform: scaleX(-1);
     border-radius: 50%;
     box-shadow: 2px;
     background-color: #76323f;
     color: black;
     border: 2px solid #6e6863;
     transition: transform .2s;
     margin: 0 auto;
     
}
.intro-img:hover{
    background-color: #21b97f;
    transform: scale(1.3) scaleX(-1);
    
}
.img-back{
    position:absolute;
    top: 25%;
    left: 25%;
    width: 35%;
    height: 55%;
}
.img-mid-container{
    width: 80%;
    height: 80%;
    position: relative;
     top: 4px;
     left:-10px;
   }

.junior{
    font-size:medium;
   }

.middle-text{
    position: absolute;
    font-size:170%;
    text-align:right;
    right: 20px;
   }
   .myButton {
	box-shadow:inset 0px 0px 14px -3px #ffffff;
	background:linear-gradient(to bottom, #c09f80 5%, #c09f80 100%);
	background-color:#c09f80;
	border-radius:6px;
	border:1px solid #c09f80;
	display:inline-block;
	cursor:pointer;
	color:#d7cec7;
	font-family:'Albert Sans', sans-serif;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
}
.myButton:hover {
	background:linear-gradient(to bottom, #c09f80 5%, #c09f80 100%);
	background-color:#c09f80;
    color:#76323f;
}
.myButton:active {
	position:relative;
	top:1px;
}
   .skills{
    align-items: center;
    justify-content: center;
   }
  .skill-row{
    width:60%;
    margin: 100px auto 100px auto;
    text-align: left;
    
  }
  .profile-img{
    position: relative;
    margin: 20px;
    width:25%;
    height:25%;
  }
.skills-img1{
    position: relative;
    float: left;
    width:40%;
    height:40%;
    border-radius: 100%;
    padding-right: 10px;
}
.skills-img2{
    padding-left: 10px;
    position: relative;
    float: right;
    width:40%;
    height:40%;
}




#intro-desc{
    font-family: 'Edu NSW ACT Foundation', cursive;
}

.primary-color{
    color: #d7cec7;
}
.paragraph-color{
    color: #565656;
}
.headline-color{
    color: #76323f;
}
.menu-color{
    color: #c09f80;
}